@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.header #navbar {
    max-width: 100%;
    height: 12vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #navbar #navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header #navbar #navbar_logo #header_word_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.header #navbar #navbar_logo #header_word_logo a:first-child:hover {
    color: aqua;
    text-decoration: none;
}

.header #navbar #navbar_logo #header_word_logo #vertical_bar {
    font-weight: 400;
}

.header #navbar #right_nav_button {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* background-color: red; */
    margin: 0 81px 0 0;
}

.header #navbar #right_nav_button #request_submit {
    width: 12rem;
    height: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.012rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: 0.3s;
}

.header #navbar #right_nav_button #request_submit:hover {
    color: #000;
    background: #fff;
}

.header #navbar #right_nav_button #sign_in {
    width: 9rem;
    height: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.012rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4C5FD5;
    border-radius: 3px;
    transition: 0.3s;
}

.header #navbar #right_nav_button #sign_in:hover {
    color: #000;
    background: #fff;
}

.header #navbar #right_nav_button #sign_in a {
    font-size: 21px !important;
    font-weight: 400;
}

.header #navbar #right_nav_button #sign_in a:hover {
    transition: 0.9s;
    text-decoration: none;
    color: rgba(0, 0, 0);
    background: #fff;
}

/* HEADER ENDS HERE */



/* SEARCH SECTION AFTER HEADER STARTS HERE */
.search {
    width: 100%;
    height: 50vh;
    background-color: #dadbf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_search_heading h1 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 21px;
}

.section_search_button {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    width: 43.75rem;
    height: 4.2rem;
    border: 1px solid #000;
    border-radius: 3px;
    padding-left: 12px;
    box-shadow: 0 0 21px 6px #cccff6;
}

.section_search_button:hover {
    border: 1px solid #4C5FD5;
}

.section_search_button input {
    width: 681px;
    height: 68.3px;
    font-size: 21px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
}

.section_search_button .fa-arrow-right-long {
    position: absolute;
    top: 25px;
    right: 15px;
}

.section_search_button:hover>.fa-arrow-right-long {
    color: #4C5FD5;
}





/* MAIN CONTENT STYLING STARTS HERE */
#main_content_container {
    max-width: 100%;
    height: auto;
    /* max-height: 111vh; */
    margin: 6rem 0;
    /* background-color: red; */
}

.main_content {
    max-width: 100%;
    height: auto;
    display: flex;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.333fr 0.333fr 0.333fr;
    column-gap: 2.1rem;
    padding: 0 6em;
}

#left_column_main_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
}

#right_column_main_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
}

#right_column_main_content,
#left_column_main_content {
    gap: 6rem;
}

#right_column_main_content .main_content_word,
#left_column_main_content .main_content_word {
    display: flex;
    width: 100%;
}

.main_content_images {
    max-height: 120px;
    margin-right: 30px;
}

#main_content_container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#main_content_container p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
}

.learn_more_button {
    font-size: 20px;
    line-height: 28px;
    color: #4C5FD5;
    position: relative;
}

.learn_more_button .material-symbols-outlined {
    margin-left: 6px;
    position: absolute;
    bottom: 1px;
    transition: 0.6s;
}

.learn_more_button:hover .material-symbols-outlined {
    translate: 9px;
}

/* MAIN CONTENT STYLING ENDS HERE */




/* FOOTER STYLING STARTS HERE */
.footer {
    width: 100%;
    height: 52vh;
    background-color: #000000;
    color: #fff;
    display: flex;
    position: relative;
}

.footer .footer_container {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.footer .footer_container .footer_column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer .footer_container h2 {
    margin-bottom: 15px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

#footer_contact_us {
    margin-top: 21px;
}

.footer .footer_column_copyright {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    right: 70px;
    bottom: 70px;
}

/* FOOTER STYLING ENDS HERE */



/* Help Button */
.help_button {
    width: 6rem;
    height: 2.7rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: fixed;
    right: 30px;
    bottom: 15px;
    border-radius: 50px;
    background-color: #4C5FD5;
}

.help_button:hover {
    background-color: #3f54d7;
}

.help_button #help_word {
    font-size: 1.02rem;
}

.help_button #help_word:hover {
    text-decoration: none;
}