@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #00ffea;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    min-width: 100vw;
    height: 10.2vh;
    box-shadow: 0 3px 15px var(--box-shadow);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 3;
}

.navbar {
    width: 100%;
    height: 100%;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo {
    width: 9.375rem;
}

.nav_container {
    min-width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    min-width: 57%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links>li {
    height: 100%;
    padding-right: 0.9rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    position: relative;
}

.nav_links li::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transition: all 0.3s ease-in-out;
}

.nav_links li:hover::after {
    width: 100%;
}

.nav_links a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
    font-size: 0.93rem;
    font-weight: 400;
}

.nav_links a:hover {
    color: var(--neutral-green);
}

.container_nav_links_description {
    width: 100%;
    padding: 0 3rem;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.278);
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    position: absolute;
    backdrop-filter: blur(30px);
    top: 100%;
    left: 0;
    display: none;
    z-index: -3;
}

.container_nav_links_description h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-gray);
    margin: 0.6rem 0;
}

.container_nav_links_description ul {
    width: 100%;
    margin: 0.9rem 0;
    padding: 0 0.3rem;
}

.container_nav_links_description ul li {
    width: 100%;
    list-style: none;
    margin: 0.21rem 0;
}

.container_nav_links_description ul li a {
    width: 100%;
    text-decoration: none;
    color: var(--light-gray);
    font-size: 0.81rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
}

.container_nav_links_description ul li:hover {
    color: var(--light-green);
}

#container_nav_templates_left {
    width: 20%;
    display: flex;
    align-items: flex-start;
    border-right: 1px solid var(--gray);
}

#contract_templates {
    color: var(--light-green);
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray-transparent);
    border-radius: 3px;
    padding: 0 0.1rem;
    position: relative;
}

.fa-arrow-right {
    position: absolute;
    right: 15px;
    transition: all 0.51s ease-in-out;
}

#contract_templates:hover .fa-arrow-right {
    right: 3px;
}

#container_nav_templates_right {
    width: calc(100% - 20%);
    display: flex;
    flex-direction: column;
}

#container_nav_templates_right span {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#container_nav_templates_right_1 h6 {
    font-size: 0.51rem;
    color: var(--light-gray);
}

#see_all_templates {
    width: 21%;
    margin-bottom: 6px;
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    border-radius: 30px;
    color: var(--white);
    position: relative;
    transform: translate(150%);
    overflow: hidden;
}

#see_all_templates_overlay {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: -100%;
    border-radius: 30px;
    background-color: var(--green);
    transition: all 0.42s ease-in-out;
    z-index: -1;
}

#see_all_templates:hover #see_all_templates_overlay {
    width: 100%;
    left: 0;
}

#nav_product:hover~#container_nav_product {
    display: flex;
}

#nav_industries:hover~#container_nav_industries {
    display: flex;
}

#nav_templates:hover~#container_nav_templates {
    display: flex;
}

#login_btn {
    text-decoration: none;
    color: var(--light-green);
    font-size: var(--button-font-size);
    font-weight: 600;
    letter-spacing: var(--button-letter-spacing);
    padding: 0.54rem 1.2rem;
    border: 1px solid var(--light-green);
    border-radius: 4.2px;
    margin-right: 12px;
}

#login_btn:hover {
    color: var(--white);
    background: var(--light-green);
}

#start_free_header_btn {
    text-decoration: none;
    color: var(--white);
    font-size: var(--button-font-size);
    font-weight: 600;
    padding: 0.6rem 2.1rem;
    background: var(--light-green);
    border-radius: 4.2px;
}

#start_free_header_btn:hover {
    background: var(--neutral-green);
}

.nav_links_content_container {
    width: 51rem;
    height: 60vh;
    display: none;
}

/* HEADER Ends HERE */

/* MAIN CONTENT START */
.main_content {
    max-width: 100vw;
    margin: 3.1875rem auto;
    box-sizing: border-box;
    padding: 0 7rem;
}

.plans_pricing {
    padding: 9.3rem 0 3.6rem 0;
    width: 100%;
}

.pricing_head {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricing_head>h2 {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
}

#monthly_yearly {
    display: flex;
    gap: 36px;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

#toggle_container {
    width: 57px;
    height: 33px;
    border-radius: 30px;
    background-color: var(--light-green);
    box-sizing: border-box;
    position: relative;
}

#toggle {
    width: 100%;
    height: 100%;
}

#toggle_yearly {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--white);
    margin: 3px;
}

#toggle_check {
    position: absolute;
    display: none;
}

#toggle_check:checked~#toggle_yearly {
    right: 0;
    transition: all 0.9s ease-in-out;
}

.plans_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: -1;
}

.plan {
    max-width: 30%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: var(--white);
    border: 1px solid var(--border-light-gray);
    border-radius: 6px;
    padding: 3.3rem 30px;
    margin: 0.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-shadow: 0 0 36px 3px var(--box-shadow);
}

.plan>h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--light-dark);
}

.plan>p {
    font-size: var(--plan-paragraph-font-size);
    letter-spacing: 0.45px;
    color: var(--light-gray);
    margin-bottom: 30px;
}

.price_container {
    display: block;
    width: 100%;
    height: 4.2rem;
    font-size: 1.625rem;
    color: var(--gray);
    display: flex;
    align-items: flex-end;
    position: relative;
}

.price_container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.2px;
    background-color: var(--light-green);
}

.currency_symbol {
    position: relative;
    top: -30px;
    margin-right: 10px;
    font-size: 30px;
    font-weight: 400;
}

.price {
    font-size: 62px;
    margin-right: 10px;
}

.benefits {
    max-width: 100%;
    margin: 60px 0;
    list-style: none;
}

.tick_div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.tick_div img {
    margin-right: 12px;
}

.tick_div>div {
    color: var(--gray);
}

.plan_start_free_btn {
    width: 85%;
    height: 60px;
    background-color: var(--light-green);
    border-radius: 4.2px;
    position: absolute;
    left: 21px;
    bottom: 2.4rem;
    margin-top: 3rem;
}

.plan_start_free_btn a {
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: var(--white);
    font-size: var(--button-font-size);
    font-weight: 600;
    border-radius: 4.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#professional::after {
    content: "RECOMMENDED";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--button-font-size);
    font-weight: 800;
    color: var(--neutral-green);
    background-color: var(--light-light-green);
}

/* ADD-ONS Section STARTS Here  */
.add_ons_section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4.2rem 0;
}

.add_ons_section>h2 {
    font-size: 2.1em;
    font-weight: 500;
    font-family: "EB Garamond", serif;
    margin: 1.2rem 0;
}

.add_ons_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_ons_info_container {
    color: var(--light-gray);
}

.add_ons_info_container>h3 {
    font-size: 1.375rem;
    margin-bottom: 6px;
}

.add_ons_info_container>p {
    font-size: 14px;
    margin-bottom: 6px;
}

.add_ons_info {
    width: 100%;
    border-radius: 12px;
    background-color: var(--white);
    margin: 30px 0;
    padding: 3rem 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 36px 3px var(--box-shadow);
    overflow: hidden;
}

.add_ons_plan_type {
    margin: 0 3rem;
    color: var(--light-gray);
    font-size: 2.4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.add_ons_plan_period {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

#learn_more {
    font-size: var(--button-font-size);
    font-weight: 600;
    text-decoration: none;
    color: var(--neutral-green);
}

.fa-angle-right {
    margin-left: 4.2px;
    transition: 0.3s;
}

#learn_more:hover .fa-angle-right {
    transform: translateX(6px);
}

/* ADD-ONS Section ENDS Here  */

/* MAIN CONTENT END */


#tag_line_container_outer {
    max-width: 100%;
    min-height: 15vh;
    margin: 5.4rem 1.2rem;
    margin-top: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--light-light-green);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#tag_line_container_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.9rem;
    padding: 1.2rem 3rem;
}

.tag_line {
    font-size: 2.4rem;
    text-align: center;
}

#tag_line_start_free_btn {
    width: 156px;
    height: 60px;
    text-decoration: none;
    color: var(--white);
    font-size: var(--button-font-size);
    font-weight: 600;
    border-radius: 4.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
}

.btn:hover,
#tag_line_start_free_btn:hover {
    background-color: var(--neutral-green);
}



/* FREQUENTLY Asked Questions Start*/
.faqs {
    width: 80%;
    margin: auto;
    min-height: 40vh;
}

.faqs>h3 {
    font-size: 2.7rem;
    margin-bottom: 2.1rem;
}

.faqs>details {
    font-size: 1.8rem;
    margin: 1.2rem 0;
}

.faqs>details p {
    font-size: 1.2rem;
    margin: 1.2rem 1.8rem 0;
    line-height: 1.5;
}

.faqs>details:hover {
    cursor: pointer;
}

/* FREQUENTLY Asked Questions End*/



/* FOOTER START */
.footer {
    width: 100%;
    padding: 3.6rem 0;
    margin: 3rem 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--box-shadow);
}

.footer ul li {
    list-style: none;
    margin: 0.3rem 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.footer ul li:hover {
    transform: translateX(9px);
}

.footer ul li a {
    text-decoration: none;
    color: var(--gray);
    font-size: var(--footer-link-font-size);
    font-weight: 300;
}

#footer_pricing a {
    color: var(--light-green);
}

.footer ul li a:active {
    color: green;
}

.footer ul li a:visited {
    color: var(--blue);
}

.footer_title {
    color: var(--gray);
    font-weight: 500;
    padding-bottom: 1.5rem;
}

#templates h4 {
    color: var(--gray);
    font-weight: 500;
    padding-bottom: 0.42rem;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding-left: 30px;
    }

    .footer ul li a:hover {
        color: var(--dark);
    }

    .footer>div {
        margin-bottom: 36px;
    }

}

/* FOOTER END */


/* RESPONSIVE */

.fa-xmark,
.fa-bars,
#nav_check {
    display: none;
}


@media(max-width: 1024px) {
    .main_content {
        padding: 0 3rem;
    }
}


@media (max-width: 768px) {

    .nav_container {
        flex-direction: column;
        width: 70vw;
        min-height: 100vh;
        position: absolute;
        align-items: flex-start;
        justify-content: space-evenly;
        top: 0;
        right: -100%;
        padding: 3rem 3rem;
        background-color: #ffffff15;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 15px 0 #0000004b;
        transition: all 0.6s ease-in-out;
        z-index: 1;
    }

    .nav_links {
        height: 50%;
        flex-direction: column;
        align-items: flex-start;
    }

    .fa-xmark {
        display: block;
        font-size: 2.5rem;
        position: absolute;
        top: 7.5px;
        right: 31.5px;
    }

    .fa-bars {
        display: block;
        font-size: 2.1rem;
        position: absolute;
        top: 10.2px;
        right: 30px;
    }

    #nav_check:checked~.nav_container {
        right: -0.3rem;
        transition: all 0.6s ease-in-out;
        z-index: 3;
    }

    .pricing_head,
    #tag_line_container_inner {
        flex-direction: column;
    }

    .pricing_head>h2 {
        margin-bottom: 2.1rem;
    }

    .plans_container {
        flex-direction: column;
    }

    .plan {
        min-width: 100%;
    }
}

@media (max-width: 426px) {

    .header {
        width: 100%;
        padding: 0 9px;
    }

    .navbar {
        padding: 0 ;
    }

    #logo {
        width: 6rem;
    }

    .fa-xmark {
        right: 28px;
    }

    .nav_container {
        padding: 3rem 1rem;
    }

    #login_btn {
        font-size: 0.6rem;
        padding: 0.4rem 1rem;
    }

    #start_free_header_btn {
        font-size: 0.6rem;
        padding: 0.46rem 1rem;
    }

    
    #nav_check:checked~.nav_container {
        top: 0;
        transition: all 0.6s ease-in-out;
        z-index: 3;
    }

    .main_content {
        margin: 0.3rem auto;
        padding: 0 0.42rem;
    }

    .plans_container {
        min-width: 100%;
    }

    .plan {
        max-width: 100%;
    }

    .add_ons_section {
        width: 100%;
        margin-top: 51px;
        margin-left: 0;
        margin-right: 0;
    }

    .add_ons_info {
        flex-direction: column;
        padding: 0.6rem 0.6rem;
    }

    .add_ons_plan_type {
        font-size: 1.2rem;
    }

    .add_ons_plan_period {
        font-size: 8px;
    }

    #tag_line_container_inner {
        padding: 0.6rem 0.3rem;
    }

    .tag_line {
        font-size: 1.5rem;
        text-align: center;
    }

    #tag_line_start_free_btn {
        width: 120px;
        height: 30px;
    }

    .faqs {
        width: 100%;
        padding: 0 1.2rem;
    }

    .faqs>h3 {
        font-size: 1.3rem;
        margin-bottom: 2.1rem;
    }

    .faqs>details {
        font-size: 1rem;
        margin: 1.2rem 0;
    }

    .faqs>details p {
        font-size: 0.9rem;
        margin: 0.81rem 0.9rem;

        line-height: 1.5;
    }
}