:root {
    --white: #ffffff;
    --dark: #000000;
    --light-dark: #343434;
    --light-green: #00b289;
    --neutral-green: #029e7a;
    --gray: #4c4d5f;
    --light-gray: #545461;
    --border-light-gray: #5454617c;
    --yellow:#f8db62;
    --blue: #0d00ff;
    --texture_color: #00ffc337;

    --button-font-size: 14px;
    --button-letter-spacing: 0.9px;

    --plan-paragraph-font-size: 14px;

    --footer-link-font-size: 14.1px;
}