@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.header #navbar {
    width: 100%;
    height: 12vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #navbar #navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header #navbar #navbar_logo #header_word_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.header #navbar #navbar_logo #header_word_logo a:first-child:hover {
    color: #dadbf1;
    text-decoration: none;
}

.header #navbar #navbar_logo #header_word_logo #vertical_bar {
    font-weight: 400;
}

.header #navbar #right_nav_button {
    margin: 0 81px 0 0;
}

#navbar #right_nav_button #search {
    width: 240px;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: 0.3s;
}

#navbar #right_nav_button #search:hover {
    background: #fff;
}

#navbar #right_nav_button #search a {
    font-size: 21px !important;
    font-weight: 400;
    text-decoration: none;
    padding: 0 82.2px;
}

#navbar #right_nav_button #search a:hover {
    transition: 0.9s;
    color: rgba(0, 0, 0);
}

.header #navbar #right_nav_button #request_submit {
    width: 240px;
    color: #fff;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
}

.header #navbar #right_nav_button #request_submit:hover {
    transition: 0.3s;
    background: #fff;
}

.header #navbar #right_nav_button #request_submit a {
    font-size: 21px !important;
    font-weight: 400;
    padding: 0 27.9px;
    transition: 0.3s;
    text-decoration: none;
}

.header #navbar #right_nav_button #request_submit a:hover {
    color: rgba(0, 0, 0);
}

.header #navbar #right_nav_button #sign_in {
    width: 140px;
    box-sizing: border-box;
    background: #4C5FD5;
    border: 1px solid #4C5FD5;
    border-radius: 3px;
    transition: 0.3s;
}

.header #navbar #right_nav_button #sign_in:hover {
    background: #fff;
}

.header #navbar #right_nav_button #sign_in a {
    font-size: 21px !important;
    font-weight: 400;
    padding: 0 33px;
    transition: 0.3s;
    text-decoration: none;
}

.header #navbar #right_nav_button #sign_in a:hover {
    color: rgba(0, 0, 0);
}

.using_abstract {
    width: 100%;
    height: 21em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 6em;
    background: #dadbf1;
}

.using_abstract h1 {
    font-size: 4.8em;
    font-weight: 400;
}

.using_abstract p {
    font-size: 1.5em;
}

/* Header ends here */



.see_all_8_articles {
    width: 100%;
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see_all_8_articles ul {
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 9rem;
}
.see_all_8_articles ul li {
    margin-bottom: 0.6rem;
}
.see_all_8_articles ul li a {
    color: #000000;
    font-size: 19.2px;
    font-weight: 400;
    margin-bottom: 0.6rem;
}



/* FOOTER STYLING STARTS HERE */
.footer {
    width: 100%;
    height: 52vh;
    background-color: #000000;
    color: #fff;
    display: flex;
    position: relative;
}

.footer .footer_container {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.footer .footer_container .footer_column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer .footer_container h2 {
    margin-bottom: 15px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

#footer_contact_us {
    margin-top: 21px;
}

.footer .footer_column_copyright {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    right: 70px;
    bottom: 70px;
}

/* FOOTER STYLING ENDS HERE */