:root {
    --white: #ffffff;
    --primary-green: #00ff99;
    --primary-green-transparent: #00ff994e;
    --secondary-green: #00b56d;
    --primary-blue: #00c2db;
    --dark: #181818ef;
    --light-dark: #16161658;
}